.ErrorColor{
    color: red;
}


input:focus {
    border: none!important;
    overflow: auto!important;
    outline: none!important;

    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

mat-select {
    border: none!important;
    overflow: auto!important;
    outline: none!important;

    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -moz-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

::ng-deep .cdk-overlay-container {
    z-index: 1200 !important;
  }