/* header{
    margin: 0;
    margin-bottom: 30px;
    border: 1px solid black;
}

main{
    margin: 0;
    border: 1px solid red;
}

footer{
    margin: 0;
    border: 1px solid blue;
}

section{
    margin: 0;
    border: 4px solid green;
} */